* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 100%; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style-type: none; }

li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

input {
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: normal;
  border-radius: 0;
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.hyphenate {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

html {
  /* Typography related rules */
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=0";
  -ms-font-feature-settings: "kern" 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-appearance: none; }

body {
  font-size: 100%;
  font-family: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #141313; }

.deck .card:nth-child(1) {
  z-index: 4; }

.deck .card:nth-child(2) {
  z-index: 3; }

.deck .card:nth-child(3) {
  z-index: 2; }

.deck .card:nth-child(4) {
  z-index: 1; }

.card {
  height: 300px;
  width: 300px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 0%, 0px);
  transition-property: transform, filter;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  /* easeOutCirc */
  transition-duration: 320ms; }
  .card--name {
    color: #fff;
    font-size: 1.618rem;
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem; }
  .card.image-card {
    background-image: url("/img/derick-ruiz-3.jpg");
    background-position: 5% 18%;
    background-size: inherit; }
  .card.image-card:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+57,000000+100&amp;0+57,0.54+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNTQiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, transparent 57%, rgba(0, 0, 0, 0.54) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%, transparent), color-stop(100%, rgba(0, 0, 0, 0.54)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 57%, rgba(0, 0, 0, 0.54) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 57%, rgba(0, 0, 0, 0.54) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 57%, rgba(0, 0, 0, 0.54) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 57%, rgba(0, 0, 0, 0.54) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8a000000',GradientType=0 );
    /* IE6-8 */ }
  .card.maps-card {
    background-color: transparent; }
  .card.maps-card > .map {
    height: 300px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .card.stats-card {
    background-color: #141414; }
  .card.personal-card {
    background-color: #141414;
    overflow: scroll; }
  .card.image-card.is-card-in {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    transform: translate3d(-50%, -50%, 0px) scale(0.8); }
  .card.anim-card-right.is-card-out {
    transform: translate3d(55%, -50%, 0px); }
  .card.anim-card-right.is-card-hover {
    transform: translate3d(-30%, -50%, 0px); }
  .card.anim-card-up.is-card-out {
    transform: translate3d(-50%, -102%, 0px); }
  .card.anim-card-up.is-card-hover {
    transform: translate3d(-50%, -70%, 0px); }
  .card.anim-card-left.is-card-out {
    transform: translate3d(-155%, -50%, 0px); }
  .card.anim-card-left.is-card-hover {
    transform: translate3d(-70%, -50%, 0px); }
  .card.hidden {
    display: none; }

.stats:first-child {
  margin-top: 0.5rem; }

.stats--header {
  margin-bottom: 0.5rem; }
  .stats--header::after {
    clear: both;
    content: "";
    display: table; }

.stats--title {
  font-size: 1em;
  display: block;
  float: left;
  color: #fdfdfd;
  padding-left: 0.5rem;
  padding-top: 0.5rem; }

.stats--number-circle {
  display: block;
  float: right;
  border-radius: 100%;
  background-color: #3A60DA;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  margin-top: 0.5rem; }

.stats--number {
  color: #fdfdfd;
  display: block;
  float: right;
  font-weight: 30;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem; }

.stats--wave {
  overflow: hidden;
  margin-bottom: 0.5rem; }

.stats--wave > canvas {
  width: 120%;
  height: 50px;
  margin-left: -10px; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100; }

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  z-index: 1;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px); }

.biography {
  overflow: hidden;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem; }
  .biography--title,
  .biography--content {
    color: #fdfdfd; }
  .biography--title {
    font-size: 1.618rem;
    margin-bottom: 0.5rem; }
  .biography--content {
    font-family: "freight-text-pro", serif;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem; }

/*# sourceMappingURL=styles.css.map */