@import 'foundation';
@import 'utilities';

html {
	/* Typography related rules */
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=0";
	-ms-font-feature-settings: "kern" 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-appearance: none;
}